#!/bin/sh
cd /code

echo "------------------------"
echo "-- REQUIREMENTS -START- --"
echo "------------------------"
pip install -r requirements.txt
echo "------------------------"
echo "-- REQUIREMENTS -END- --"
echo "------------------------"

echo "------------------------"
echo "-- MIGRATIONS UPGRADE -START- --"
echo "------------------------"
flask db upgrade
echo "------------------------"
echo "-- MIGRATIONS UPGRADE -END- --"
echo "------------------------"

# Dev
python run.py

# Prod
# uwsgi --ini uwsgi.ini
